<h1>hey <%= username %></h1>
<form action="/channel" method="put">
  <div class="nav-bar">
    <div>Meny</div>
    <div>CHATTAR</div>
    <button type="">Ny chatt</button>
  </div>
  <div class="channels"></div>
</form>
