<div>
  <h1>Send Message</h1>
  <input id="name" class="form-control" placeholder="Name" />
  <textarea
    id="message"
    class="form-control"
    placeholder="Your message here"></textarea>
  <button id="send" class="btn-send">Send</button>
</div>
